* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slider {
  position: relative;
  max-width: 800px;
  margin: 50px;
  border-radius: 10px;
  background: crimson;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img,
.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide h1 {
  color: white;
  text-align: center;
}

.prev,
.next {
  width: 32px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: yellow;
}

.prev {
  left: 10px;
  transition: 0.3s ease-in-out;
}
.prev:hover {
  background: skyblue;
}

.next {
  right: 10px;
  transition: 0.3s ease-in-out;
}

.next:hover {
  background: skyblue;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.dot:hover {
  background: none;
  border: 2px solid yellow;
}

.active {
  background-color: yellow;
}

.signature{
  align-items: center;
}
